<div class="hero">
    <div class="col_hero">
        <div class="hero_text">
            <h2>PowerSchool Is Here to Help </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad necessitatibus quis ipsa corrupti esse architecto, delectus dolore repellendus quia laudantium, labore dignissimos. Quas, molestias! Aliquam ea atque incidunt sint! Quibusdam!
            </p>
            <a href="">Learn More</a>
        </div>

        <div class="img_hero">
            <img src="../../../assets/img/hero.jpg" alt="">
        </div>
    </div>
</div>