<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="nav-link">Schoology</a>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">tour</a>
          <a class="nav-link" href="#">Stories</a>
          <a class="nav-link" href="#">Connect</a>
          <a class="nav-link" href="#">Resouses</a>
          <a class="nav-link" href="#">blog</a>
          <a class="navbar-brand"
              routerLink="login"
              routerLinkActive="active"  
               class="nav-link" >login</a>
        <a class="navbar-brand"
          routerLink="Signup"
          routerLinkActive="active"  
          class="nav-link" >Sign up</a>
        </div>
      </div>
    </div>
  </nav>
